head
  title= settings.title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/components/bootstrap-css/css/bootstrap-responsive.min.css?request_id=#{request_id}')
  link(rel='stylesheet', href='/components/bootstrap-css/css/bootstrap.min.css?request_id=#{request_id}')
  link(rel='stylesheet', href='/css/custom.css?request_id=#{request_id}')
  meta(name='request-id', content="#{request_id}")